<header>
    <nav class="navbar navbar-light navbar-expand-md fixed-top bg-white" style="opacity: 1;filter: blur(0px) brightness(98%) grayscale(100%) hue-rotate(0deg) invert(0%) saturate(108%) sepia(0%);">
        <div class="container-fluid"><a class="navbar-brand" href="#"><strong>MOCKSTOCK</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1" style="opacity: 1;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"><strong>ANNOUNCEMENTS</strong></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"><strong>&nbsp;SIGNOUT</strong></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>