{% from 'macros/stockitem.html' import render_stock_card with context %}
{% extends "base.html" %}

{% block headstyle %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/card_grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/footer.css') }}">


{% endblock %}


{% block navbar %}
{% include 'components/header.html' %}
{% endblock %}

{% block content %}

<div id="promo">
    <div class="container site-section" style="margin-top: 36px;">
        <div class="alert alert-success alert-dismissible" style="display: none;" id="submit-alert">
            <strong id="alert-label">Sucessfully </strong> <span id="alert-message">submitted your purchase.</span>
        </div>
        <h1><strong>ROUND 1</strong> </h1>
        {% if current_user.is_authenticated %}
        <h2>Money Left <span class="badge badge-secondary" id="total_money">{{ current_user.money }}</span></h2>
        <button class="btn btn-primary " type="button" id="submit-btn">
            <span class="spinner-border spinner-border-sm " role="status" aria-hidden="true" id="submit-spinner"></span>
            <span class="">Submit</span>
        </button>
        {% endif %}
        <!-- Display the countdown timer in an element -->
        <p id="demo"></p>
    </div>
</div>

<!-- Start: 1 Row 4 Columns -->
<div class="stock-main-container">
    <div class="container">
        <div class="row">
            {% for stock_item in stocks %}
            {{ render_stock_card(stock_item) }}
            {% endfor %}
        </div>
    </div>
</div>
<!-- End: 1 Row 4 Columns -->

{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
{% endblock %}