body {
  font-family: 'Open Sans', sans-serif;
  background: url(../../static/img/market.jpg) no-repeat center center fixed;
  /* url(../../assets/img/elsetge.cat_analytics-wallpaper_1606133..jpg) no-repeat center center fixed;: cover; */
}

@media (max-width: 700px) {
  .col-md-4.stock-items {
    margin-bottom: 10px;
  }
}

@media (min-width: 700px) {
  .col-md-4.stock-items {
    margin-bottom: 30px;
  }
}

.stock-main-container {
  margin-top: 100px;
}

.badge.badge-primary.stock-price {
  color: rgb(0,0,0);
  background-color: rgb(247,243,243);
  font-size: 20px;
  padding-top: 10px;
  margin-right: auto;
}

.stock-quantity-label {
  font-size: 20px;
  margin-left: auto;
  padding-top: 10px;
  background-color: rgb(233,236,239);
  color: black;
}

.stock-footer {
  margin: 15px 0px 0px 0px;
  border: 0px;
}

